.TopBar {
    top: 0;
    position: sticky;
}

.TopBar h1 {
    text-align: center;
    font: bold;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 5px;
    margin: 0;
    background-color: blanchedalmond;
}

.TopBar h2 {
    text-align: center;
    font: bold;
    font-size: 25px;
    color: rgb(69, 47, 24);
    padding-bottom: 40px;
    margin: 0;
    background-color: blanchedalmond;
}

.TopBar ul {
    list-style-type: none;
    border-top-style: solid;
    border-bottom-style: solid;
    text-align: center;
    margin: 0;
    background-color: rgb(209, 185, 148);
}

.TopBar li {
    font-size: 20px;
    padding: 20px;
    display: inline-block;
}

.Navigation {
    color: black;
    text-decoration: none;
}

.Navigation:active {
    color: red;
}

.Content {
    padding-left: 50px;
    padding-right: 50px;
}

.Box {
    border-style: groove;
    padding: 30px;
    background-color: rgb(209, 185, 148);
}

.SubmitButton {
    font-size: 15px;
    padding: 15px;
    background-color: rgb(69, 47, 24);
    color: rgb(240, 239, 233);
    border-color: rgb(69, 47, 24);
}

.SwitchPage h5 {
    font-size: 15px;
    color: rgb(69, 47, 24);
    display: inline;
}

.SwitchPage button {
    font-size: 15px;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(69, 47, 24);
    color: rgb(240, 239, 233);
    border-color: rgb(69, 47, 24);
    display: inline;
}

.FormContent, .FormContent label, .FormContent input, .FormContent select, .FormContent textarea {
    font-size: 20px;
}

.Error {
    color: red;
    font-size: 15px;
}

.PieChartContent {
    border: solid;
    padding: 20px;
    margin: 30px;
    width: 400px;
    height: 400px;
    overflow: auto;
}

.BarChartContent {
    border: solid;
    padding: 20px;
    margin: 30px;
    width: 600px;
    height: 300px;
    overflow: auto;
}

.ChartTop {
    padding-left: 30px;
    padding-right: 30px;
    display: inline;
}

.InlineChart {
    display: inline-flex;
    align-items: stretch;
    overflow: auto;
}

.Table {
    overflow-y: auto;
    overflow-x: auto;
}

.Table table {
    border: solid;
    width: 100%;
    border-spacing: 0;
}

.Table th, td {
    text-align: left;
    padding: 10px;
    border: solid;
    font-size: 20px;
}

.DeleteButton {
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 10px;
}

.AddButton {
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 10px;
}

.DetailsButton {
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 10px;
}

.DetailsContent {
    font-size: 20px;
}

.SortButton {
    font-size: 15px;
    padding: 10px;
    background-color: rgb(116, 111, 104);
    color: white;
}

.History {
    margin: 20px;
    display: block;
    border: solid;
    background-color: rgb(116, 111, 104);
    max-height: 400px;
    overflow: auto;
}

.HistoryContainer {
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(240, 239, 233);
    padding: 5px;
    margin: 10px;
}

.HistoryContainer strong {
    font-size: 15px;
    color: gray;
}

.HistoryContainer p {
    font-size: 20px;
    margin: 2px;
}

.HistoryContainer span {
    font-size: 15px;
    margin: 2px;
}

.HistoryDownBar {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px;
}

.MessageButton {
    font-size: 20px;
    background-color: rgb(69, 47, 24);
    color: white;
}
